@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/images/logo.jpg" alt="ASP.NET" class="img-responsive" />
</div>

<div class="row">
    <div class="col-md-3">
        <h2></h2>
    </div>
    <div class="col-md-3">
        <h2>Instrumentos</h2>
        <ul>
            <li>Violão</li>
            <li>Guitarra</li>
            <li>Contrabaixo</li>
            <li>Teclado</li>
            <li>Piano</li>
            <li>Flauta Doce</li>
            <li>Bateria</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Teoria</h2>
        <ul>
            <li>Música</li>
            <li>Harmonia</li>
            <li>Harmonia Funcional</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2></h2>
    </div>
</div>
